<div class="container-fluid mt-4">
  <div class="section-title">
    <h3>ユーザー情報編集</h3>
  </div>
  <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
    <% if session[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= session[:notice] %>
      </div>
      <% session[:notice] = nil %>
    <% end %>

    <form method="POST" action="/user/edit/<%= @user.id %>">
      <input type="hidden" name="_method" value="PATCH">
      <div class="row mb-3">
        <div class="col">
          <label for="first_name" class="form-label">性</label>
          <input type="text" class="form-control" id="first_name" name="first_name" value="<%= @user.first_name %>" required>
        </div>
  
        <div class="col">
          <label for="last_name" class="form-label">名</label>
          <input type="text" class="form-control" id="last_name" name="last_name" value="<%= @user.last_name %>" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="nick_name" class="form-label">ニックネーム</label>
        <input type="text" class="form-control" id="nick_name" name="nick_name" value="<%= @user.nick_name %>" required>
      </div>

      <div class="mb-3">
        <label for="mail" class="form-label">メールアドレス</label>
        <input type="email" class="form-control" id="mail" name="mail" value="<%= @user.mail %>" required>
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">パスワード</label>
        <div class="input-group">
          <input type="password" class="form-control" id="password" name="password" value="<%= @user.password %>">
          <button type="button" id="togglePassword" style="background: none; border: none; padding-left: 10px;">
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>


       <div class="d-flex justify-content-start gap-2">
        <button type="submit" class="btn btn-primary">保存</button>
        <a href="/admin" class="btn btn-secondary">戻る</a>
      </div>
    </form>
  </div>
</div>

<script>
  const toggleBtn = document.getElementById('togglePassword');
  const passwordInput = document.getElementById('password');

  toggleBtn.addEventListener('click', () => {
    const isPassword = passwordInput.type === 'password';
    passwordInput.type = isPassword ? 'text' : 'password';
    toggleBtn.innerHTML = isPassword ? '<i class="bi bi-eye-slash"></i>' : '<i class="bi bi-eye"></i>';
  });
</script>

